<div class="search">
	<%= search_form_for @q, class: "search__form" do |f| %>
	<%= f.label :title_cont, "キーワードで投稿を検索" %>
    <%= f.search_field :title_cont, placeholder: "キーワード" %>
	<%= f.submit "検索" %>
	<% end %>
</div>
<div class="rank">
	<%= link_to "ランキング", rank_path, class: 'btn-warning btn btn-lg' %>
</div>
<h3>Posts</h3>

<ul class="posts" id="posts">
<%= render partial: 'posts/post', collection: @posts %>
</ul>
<%= link_to_next_page @posts, 'もっと見る', remote: true, class: 'btn-warning btn btn-lg', id: 'more_link' unless @posts.nil? %>