<!DOCTYPE html>
<html>
  <head>
    <title>The-View</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script
     src="https://maps.google.com/maps/api/js?key=AIzaSyAXOpW9I3NOCP_0K-oQfdHouPDfO1SrbgQ"></script>
    <script
     src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>

  <body
  ><nav class="navbar navbar-default">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <h1>The-View</h1>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'トップ', root_path %></li>
          <li><%= link_to '投稿を見る', posts_path %></li>
          <li><%= link_to "ランキング", rank_path %></li>
          <li><%= link_to 'マップで探す', map_path %></li>
          <li><%= link_to 'ユーザーを検索', users_path%></li>
          <% unless user_signed_in? %>
          <li><%= link_to ' ログイン', new_user_session_path %></a></li>
          <% end %>
          <% if user_signed_in? %>
          <li><%= link_to "投稿する", new_post_path %></li>
          <li><%= link_to 'マイページ', current_user%></li>
          <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</nav>
    <%= yield %>
    <footer class="text-c text-muted">
   Copyright©︎2020 TheView.com, All Rights Reserved.
 </footer>
  </body>
</html>
